
@{
    ViewBag.Title = "Aluno";
}

<div class="center">
    <h2>Área do Aluno</h2>

    <p></p>
    <p>1. Essa view não está utilizando o Layout</p>
    <p>2. Observe a aba "Área do Aluno", a URL: /Aluno/Aluno</p>
    <p>3. O título da página "Área do Aluno" deve estar centralizado.</p>
    <p>4. Esta view deve estar em um Controller em outra área chamada "Aluno"</p>
    <p>5. O Link "Início", que é um botão centralizado, deve retornar para a View Principal no Controlador Principal da Área Principal</p>
    @Html.ActionLink("Início", "Index", "Home", null, new { @class = "btn btn-primary" })

</div>




