
@model IEnumerable<RotasMVC.Models.News>

@{
    ViewBag.Title = "Criatividade";
}

<h2>Listagem de Usuarios</h2>

<br />
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Categoria</th>
            <th scope="col">Titulo</th>
            <th scope="col">Data</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.Id</th>
                <td>@item.Category</td>
                <td>@item.Title</td>
                <td>@item.Date</td>
            </tr>
        }
    </tbody>
</table>