
@model RotasMVC.Models.News
@{
    ViewBag.Title = "Mostrar Noticia";
}

<h2>@Model.Title</h2>

<em>
    @Model.Date - @Html.ActionLink(Model.Category, "ShowCategaory", 
                 new { @category = Model.Category }, null)
</em>

<p>@Model.Content</p>


